h2 Compose
#compose
  = binding.pry
  = simple_form_for :message, url: messages_path do |f|
    = f.label :recipients, required: false
    = binding.pry
    = f.input_field :recipients( @recipient )
    = f.label :subject, required: false
    = f.input_field :subject
    = f.label :body, required: false
    = f.input_field :body, as: :text
    = f.input :attachment, as: :file
    = f.button :submit, 'Send message'
