h1 Log in
= simple_form_for(login_path, html: {id: "login_form"}) do |f|
  = f.input :email, input_html: {id: 'email', name: 'email'}
  = f.input :password, input_html: {id: 'password', name: 'password'}
  = f.button :submit, class: 'btn-primary', value: 'Log in'















