h1 = link_to "All CareJobs", care_jobs_path

= form_tag care_jobs_path, method: :get do
  = text_field_tag :query, params[:query]
  = submit_tag "Search"

- if @carejobs.blank? && params[:query].nil? && current_user.role_type == "CareFinder"
  p no jobs listed please add one.
  = link_to "Manage My Jobs", care_finder_jobs_path(current_user.role.id)
- elsif @carejobs.blank? && current_user.role_type == "CareFinder"
  p search found no entries please try again 
  = link_to "Manage My Jobs", care_finder_jobs_path(current_user.role.id)

- else  
  table
    tr 
      th Name
      th Description
      th Hourly Rate
      th
      th 

    - @carejobs.each do |job|
      tr
        td = job.name
        td = job.description
        td = job.rate
        td = link_to "View", care_job_path(job)
  = if current_user.role_type == "CareFinder"
    = link_to "Manage My Jobs", care_finder_jobs_path(current_user.role.id)
  

