h1 new care job
= simple_form_for(@carejob, html: {class: 'form-horizontal'}) do |f|
    = f.input :name, input_html: {class: 'span-3'} 
    = f.input :rate
    = f.input :description, input_html: {class: 'span-6'} 
    = f.button :submit, class: 'btn-primary'
