h1 show care jobs 

h2 Name
p = @carejob.name

h2 Description
p = @carejob.description

h2 Rate
p = @carejob.rate
- if current_user 
  = link_to "Request Contact", new_contact_path(care_job_id: params[:id])

