h1 Conversations
=> link_to "Inbox", conversations_path
=> link_to "Trash", conversations_path(box: :trash)
- if @conversations.present?
  - @conversations.each do |conversation|
    h3
      | Subject:  
      => conversation.subject
      br
      - conversation.recipients.each do |recipient|
        = recipient.full_name
      => link_to "View", conversation_path(conversation.id)
      - if @box == 'trash'
        = link_to "Untrash", conversation_path(conversation, untrash: true), class: :button, method: :put
      - else
        = link_to "Trash", conversation, class: :button, method: :delete
  = will_paginate @conversations
- else 
  h3 No conversations exist 
