h1 = @conversation.subject
h1 
  => link_to "Inbox", conversation_path(params[:id])
  /=> link_to "Sentbox", conversation_path(box: :sentbox)
  => link_to "Trash", conversation_path(box: :trash)
ul
  = content_tag_for(:li, @receipts) do |receipt|
    h3= receipt.message.sender.full_name 
    p= receipt.message.body

    #actions
      - if receipt.is_trashed?
        = link_to "Untrash", untrash_message_path(receipt), class: :button, method: :post
      - else
        = link_to "Trash", trash_message_path(receipt), class: :button, method: :delete
= form_tag conversation_path(@conversation), :method => :put, :class => "cont_conversation"
  #editor
   = text_area_tag :body, nil,:rows =>6, :cols=> 53, :class => "required form_tag"
  #actions
    = submit_tag "Reply",  :name => :reply_all,:class => "btn"
