= unless current_user.nil?
  = if current_user.role_type == 'CareGiver'
    = link_to "Manage Profile", caregiver_path
  = elsif curent_user.role_type == 'CareFinder'
    = link_to "Manage Jobs", carejobs_path
  - end
- end




  
  
