h1 Sign Up

= simple_form_for(@user, html: {class: 'form-horizontal'}) do |f|
  - if @user.errors.any? 
    .error_mesages
      h2 Form is invalid
      ul
        - @user.errors.full_messages.each do |message|
          li = message
  = f.input :email, input_html: {class: 'span-3'} 
  = f.input :password, input_html: {class: 'span-3'}
  = f.input :password_confirmation, input_html: {class: 'span-3'} 
  = f.input :postcode, input_html: {class: 'span-3'} 
  = f.collection_radio_buttons :role, [[:caregiver, 'CareGiver'], [:carefinder, 'CareFinder']], :first, :last, checked: :caregiver
  = f.button :submit, class: 'btn-primary', value: 'Sign Up'



