h1 Welcome #{current_user.email}, to your account
- unless current_user.nil?
  - if current_user.role_type == 'CareGiver'
    p = link_to "Manage Profile", edit_polymorphic_path(@user.role)
    p = link_to "All Jobs", care_jobs_path
  - if current_user.role_type == 'CareFinder'
    p = link_to "Settings", edit_polymorphic_path(@user.role)
    p = link_to "Manage Jobs", care_finder_jobs_path(@user.role.id)
    p = link_to "View CareGivers", care_givers_path
  p = link_to "Manage Contacts", contacts_path
  p = link_to "Manage Conversations", conversations_path
  p = link_to "Manage Subscription", subscription_path(@user.role.id)


h1 Friend's Activities
- @activities.each do |activity|
  div class="activity"
    = activity.owner.email if activity.owner
    = render_activity activity
  





  
  
