h1 Contact Requests

table
  tr 
    th Created at
    th To
    th State
    th

  - @contacts.each do |contact|
    tr
      td = contact.created_at
      td = contact.to
      td = contact.state
      td = link_to "View", contact_path(contact)
      td = link_to "Decline", decline_contact_path(contact)
