h1 New Contact Request
p to: #{@contact.to}
= simple_form_for(@contact, html: {class: 'form-horizontal'}) do |f|
  = f.input :to, as: :hidden, value: "#{@contact.to}"
  - if current_user.role_type == "CareFinder"
    = f.input :care_job_id, collection: role_user.care_jobs, prompt: "Please select", label: "For"
    = f.input :care_giver_id, as: :hidden, value: @contact.care_giver_id
  - elsif current_user.role_type == "CareGiver"
    = f.input :care_job_id, as: :hidden, value: @contact.care_job_id

  = f.input :message, input_html: {class: 'span-3', value: "Hi #{@contact.to}, I would like to request contact with you."}
  = f.button :submit, class: 'btn-primary'

