h1 Contact Request

h3
  | Requested by: 
  = @contact.from

h3 
  | To: 
  = @contact.to

h3
  | State: 
  = @contact.state
= simple_form_for(@contact, html: {class: 'form-horizontal'}, method: :post) do |f|
  = f.input :message
  - unless @owner
    = f.button :submit, value: "Accept", action: "accept"
  = f.button :submit, value: "Decline", action: "decline", confirm: "Are you sure?", confirm: "Are you sure?"

br
p ----------------------------------
- if receipts ||= @contact.get_messages
  - receipts.each do |receipt|
    h3 = receipt.message.sender.full_name
    p = receipt.message.body


