h1 Subscription
p Upgrade your membership by subscribing below.
h2 Plan
p  = @subscription.name
h2 Price
p  = @subscription.price
h2 Paid
p  = @subscription.paid

= form_tag subscriptions_path do
  article
    label.amount
      span Amount: 30 or 60
  script.stripe-button data-amount="30 or 60" data-description="A month's subscription" data-key=(Rails.configuration.stripe[:publishable_key]) src="https://checkout.stripe.com/v2/checkout.js"

h2 test card number 4242424242424242
