h1 edit care finder settings
= simple_form_for(@carefinder, html: {class: 'form-horizontal'}) do |f|
  = f.input :postcode, input_html: {class: 'span-3'} 
  = f.input :first_name, input_html: {class: 'span-3'}
  = f.input :last_name, input_html: {class: 'span-3'}
  = f.button :submit, class: 'btn-primary'  
