h1 Your CareJobs

- if @carejobs.blank?
  p no jobs listed please add one.
  = link_to "Add a carejob", new_care_job_path

- else
  table
    tr 
      th Name
      th Description
      th Hourly Rate
      th
      th 

    - @carejobs.each do |job|
      tr
        td = job.name
        td = job.description
        td = job.rate
        td = link_to "Edit", edit_care_job_path(job)
        td = link_to "Remove", job, method: :delete, data: { confirm: "Are you sure?"}
  = link_to "Add a carejob", new_care_job_path

