= simple_form_for(@caregiver, html: {class: 'form-horizontal'}) do |f|
  = f.input :first_name, input_html: {class: 'span-3'}
  = f.input :last_name, input_html: {class: 'span-3'} 
  = f.input :hourly_rate, input_html: {class: 'span-3'} 
  = f.input :description, input_html: {class: 'span-3'} 
  = f.input :photo, as: :photo, input_html: {class: 'span-3'} 
  = f.button :submit, class: 'btn-primary'  



