h1 All CareGivers

= form_tag care_givers_path, method: :get do
  = text_field_tag :query, params[:query]
  = text_field_tag :hourly_rate, params[:hourly_rate]
  = submit_tag "Search"
- if @caregivers.blank? && params[:query].nil?
  p no profiles listed
- elsif @caregivers.blank?
  p search found no entries please try again 

- else
  table
    tr 
      th Name
      th Description
      th Hourly Rate
      th

    - @caregivers.each do |cg|
      tr
        td #{cg.first_name} #{cg.last_name}
        td = cg.description
        td = cg.hourly_rate
        td = link_to "View", care_giver_path(cg)
