div class="infowrapper"
  p class="title" Profile Attributes
  = image_tag @caregiver.photo.url
  table class="attributes"
    tr 
      th Name
      td #{@caregiver.first_name} #{@caregiver.last_name}
    tr
      th Hourly rate
      td = @caregiver.hourly_rate
  - if current_user.role_type == "CareFinder"
    = link_to "Request Contact", new_contact_path(care_giver_id: params[:id])

      
  
  


