<!DOCTYPE html>
<html>
<head>
  <title>CareMatcher</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", controller_name, "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">CareMatcher</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
    <% if current_user %>
      <p class="navbar-text">Logged in as <%= current_user.email %></p>
      <li><%= nav_link("My Account", user_path(current_user)) %></li>
      <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
      <li class="active"><%= nav_link("Sign Up", new_user_path) %></li>
      <li><%= nav_link("Log In", login_path) %></li>
    <% end %>
    </ul>
  </div>
</div>
</nav>

<div class="container">
<% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
<%= yield %>

</div>
</body>
</html>
